{% extends "base.html" %}

{% block head %}
    <style>
        #tag-cloud {
            height: 300px;
            width: 500px;
            /*
            border:1px dashed black;
            */
            margin-left:auto;
            margin-right:auto;
        }
    </style>
{% endblock %}
    
{% block content %}
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body input-group">
                    <span class="input-group-btn">
                        <button id="person-button" class="btn btn-success" type="button">Politician</button>
                    </span>
                    <input id="go-text" type="text" class="form-control" value="" placeholder="Text input">
                    <span class="input-group-btn">
                        <button id="org-button" class="btn btn-primary" type="button">Influencer</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div id="tag-cloud"></div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script src="{{ url_for('static', filename='bower_components/jqcloud2/dist/jqcloud.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/search.js') }}"></script>

    <script>
        $(document).ready(function() {
            // Person Button event.
            $("#person-button").click(function() {
                var buff = $("#go-text").val();

                if (buff) {
                    group_search(buff);
                }
            });

            // Enter key event.
            $("#go-text").keypress(function(k) {
                var key = k.which;
                if (key == 13) {
                    var buff = $("#go-text").val();

                    if (buff) {
                        group_search(buff);
                    }
                }
            });

            // Orgs Button event.
            $("#org-button").click(function() {
                var buff = $("#go-text").val();

                if (buff) {
                    org_search(buff);
                }
            });


        });
    </script>
{% endblock %}
