{% extends "base.html" %}

{% block head %}
    <style>
        #tag-cloud {
            height: 300px;
            width: 500px;
            margin-left:auto;
            margin-right:auto;
        }
        .followers-block {
            float:right;
        }
        #list {
            margin:5px;
        }
        .box {
            float:left;
        }
        .twitter-follow-button {
            display:block;
        }
        .btn-block {
            margin-bottom:15px;
        }
    </style>
{% endblock %}
    
{% block content %}
    <div class="container">
        <div class="row">
            {% if user_data %}
                <h3> Hello [{{ user_data['screen_name'] }}]</h3>
                <p>You following {{ user_data['following_count'] }} accounts.</p>
                <p>You have {{ user_data['followers_count'] }} followers.</p>
                <p>Statuses count {{ user_data['statuses_count'] }}.</p>
                <!--p>Retweets count {{ user_data['retweet_count'] }}.</p-->
                <a class="btn btn-primary" href="/logout">Logout</a>
            {% else %}
                <a class="btn btn-primary" href="/login">Login</a>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h3>Vote blox</h3>
                <h4>Your political influence changes with your actions</h4>
                <h4>Your current average participation score is {{ user_data['political_scope'] }}</h4>
                <h4>Invite others to join your block</h4>
                <p>Tell us who you support</p>

                <form method="get" action="">
                    <div class="input-group">
                        <input type="text" class="form-control" name="name" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Endorsement</button>
                        </span>
                    </div><!-- /input-group -->
                </form>
            </div>
        </div>

        <div class="row" style="margin-top:5px;">
            <div class="col-md-4 col-md-offset-2 well" style="">
                <h4>Presidential Elections:</h4>
                <a class="twitter-timeline" data-width="400" data-height="200" href="https://twitter.com/realDonaldTrump">
                    Tweets by realDonaldTrump</a> 

                {% if user_data %}
                    <p class="btn-block">
                        <a class="btn btn-primary" href="{{ url_for('tweets.post_tweet', text='Endorse1') }}">Endorse</a>
                        <a class="btn btn-success" href="#">Check-in and Vote</a>
                    </p>
                {% endif %}

                <a class="twitter-timeline" data-width="400" data-height="200" href="https://twitter.com/HillaryClinton">
                    Tweets by HillaryClinton</a> 

                {% if user_data %}
                    <p class="btn-block">
                        <a class="btn btn-primary" href="{{ url_for('tweets.post_tweet', text='Endorse2') }}">Endorse</a>
                        <a class="btn btn-success" href="#">Check-in and Vote</a>
                    </p>
                {% endif %}
            </div>

            <div class="col-md-4 well" style="">
                <h4>Congressional Elections:</h4>
                <a class="twitter-timeline" data-width="400" data-height="200" href="https://twitter.com/joekennedy">Tweets by joekennedy</a> 
                {% if user_data %}
                    <p class="btn-block">
                        <a class="btn btn-primary" href="{{ url_for('tweets.post_tweet', text='Endorse3') }}">Endorse</a>
                        <a class="btn btn-success" href="#">Check-in and Vote</a>
                    </p>
                {% endif %}
                <a class="twitter-timeline" data-width="400" data-height="200" href="https://twitter.com/RepKClark">Tweets by RepKClark</a>
                {% if user_data %}
                    <p class="btn-block">
                        <a class="btn btn-primary" href="{{ url_for('tweets.post_tweet', text='Endorse4') }}">Endorse</a>
                        <a class="btn btn-success" href="#">Check-in and Vote</a>
                    </p>
                {% endif %}
            </div>
        </div>
        

        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

        <div class="col-md-12 panel" id="list">
            {% for user in users %}
            <div class='box'>
                {% if user_data %}
                    <p>
                      <a class="btn btn-primary btn-xs" href="{{ url_for('tweets.post_tweet', text='Endorse') }}">Endorse</a>
                      <a class="btn btn-success btn-xs" href="{{ url_for('tweets.post_tweet', text='Endorse') }}">Invite</a>
                    </p>
                {% endif %}

                <a href="https://twitter.com/{{ user }}" class="twitter-follow-button" data-show-count="true">
                    Follow @{{ user }}
                </a>

                <a class="twitter-timeline" data-width="260" data-height="300" data-theme="light" href="https://twitter.com/{{ user }}">
                    {{ user }}
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
